node_modules/*
*.png
pg_hba.conf
influxdb-datasource.yml

# Yard, don't care about docs yet.
.yardoc/*
doc/*

# experiments
nohup.out
pgbench_log*

# datagrip and friends
.idea/*

# Simplecov
coverage/*
